/* ------------------ Font Face ------------------ */
@font-face {
  font-family: "Gyeonggi_Title_Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitleLight";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GyeonggiTitleLight.woff")
    format("woff");
  font-style: normal;
}

/* ------------------ Global Reset ------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eaf4ff;
  font-family: "Gyeonggi_Title_Medium", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

#cc {
  position: fixed; /* ⭐ 핵심 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 뒤로 보내기 */
  pointer-events: none; /* 클릭 막지 않게 */
}

/* ------------------ Container ------------------ */
.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  gap: 50px;
  transition: transform 0.8s ease-in-out;
}
/* ------------------ Title Animation ------------------ */
.name {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: #1d77fd;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  text-shadow:
    0 8px 9px #d5e6ff,
    0 -2px 1px #1d77fd;
  white-space: nowrap;
  margin: 100px 0 0;
  display: inline-block;
  transition: transform 0.8s ease-in-out;
}
.name::after {
  content: "";
  display: inline-block;
  animation: blink 0.8s;
  color: #1d77fd;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ------------------ Navigation ------------------ */
nav {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  display: flex;
  justify-content: center;
  gap: 100px;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.8s,
    transform 0.8s;
}
nav a {
  padding: 25px 85px;
  /* width: 400px; */
  text-align: center;
  border-radius: 999px;
  border: none;
  color: #1d77fd;
  background-color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    transform 0.2s;
  text-decoration: none;
}
nav a:hover {
  cursor: pointer;
  transform: scale(1.2);
  background: #1d77fd;
  color: #fff;
}
.show-nav nav {
  opacity: 1;
  transform: translateY(0);
}
.show-nav .name {
  transform: translateY(-50px);
}
/* ------------------ Dark mode ------------------ */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
  transition: background 0.3s;
}
.theme-toggle:hover {
  background: none;
}
/* ------------------ Tab Page Layout ------------------ */
.layout-container {
  position: fixed;
  top: 100px;
  left: 20px;
  right: 120px;
  bottom: 20px;
  border: 3px solid #bbb9c7;
  border-radius: 20px 20px 20px 20px;

  padding-right: 80px;
  width: auto;
  height: auto;

  max-width: none;
  transform: none;
}
.layout-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 20px;
  left: 0;
  right: 100px;

  margin: 20px 20px 0 20px; /* ⭐ 바깥 여백으로 위치 잡기 */

  background-color: #0064ff;
  border-radius: 15px 15px 0 0;
  padding: 20px;
  z-index: 100;
}

.layout-header h1 {
  margin: 0;
  font-size: 2.4em;
  color: #fff;
}
.bookmark-tabs {
  position: absolute;
  right: -75px; /* 밖으로 튀어나오게 */
  top: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bookmark {
  background-color: #0064ff;
  border: 4px solid #0064ff;
  padding: 15px 20px;
  color: inherit;
  border-radius: 0 10px 10px 0;
  font-size: 2em;

  text-decoration: none;
  transition: all 0.2s ease;
}
.bookmark:hover {
  transform: translateX(-10px);
  background-color: #fff;
  color: #0064ff;
}
.bookmark.active {
  background-color: #ffff94;
  color: #0064ff;
  border: 2px solid #0064ff;
}
.close {
  margin: 0;
  text-decoration: none;
  font-size: 2em;
  color: #fff !important;
}
.close:hover {
  transform: scale(1.2) !important;
  color: #ffff94 !important;
}
